<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="logconsole" xsi:type="ColoredConsole" layout="(${date:format=yyyy\/MM\/dd HH\:mm}) [${callsite:includeSourcePath=false:includeNamespace=false}] ${message}"/>
    <target name="logerror" xsi:type="File" fileName="nlog/error.log" />
    <target name="logfatal" xsi:type="File" fileName="nlog/fatal.log"/>
  </targets>xd

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Error" writeTo="logerror" />
    <logger name="*" minlevel="Fatal" writeTo="logfatal" />
  </rules>
</nlog>