<config>
  <!--Common info-->
  <resourcePath>resources</resourcePath>
  <debugMode>1</debugMode>
  
  <!--Server info-->
  <bindAddress>127.0.0.1</bindAddress>
  <bindPort>80</bindPort>
  
  <!--World info-->
  <name>localhost</name>
  <address>127.0.0.1</address>
  <port>2050</port>
  <adminOnly>0</adminOnly>
  <maxPlayers>256</maxPlayers>
  <latitude>0</latitude>
  <longitude>0</longitude>
</config>